<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEBAB</title>
    <link rel="stylesheet" href="../css/style2.css">
    <script src="../js/script1.js"></script>
</head>
<body>
    <main>
        <div class="kebab">
            <h1>
                Te gusta el kebab???? A mi también
            </h1>
            <img src="../img/gato.gif" alt="gato">
        </div>
    </main>
</body>
</html>